.purple {
    background-color:rgb(71, 71, 150);
}

.red {
    background-color:rgb(55, 184, 38);
}

.green {
    background-color:rgb(125, 160, 130);
}

.yellow {
    background-color: rgb(199, 141, 34);
}

.blue {
    background-color: rgb(128, 36, 82);
}
/* guide 
.transparent {
    background-color: transparent;
}
.purple {
    background-color:purple;
}

.red {
    background-color:red;
}

.green {
    background-color:green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.transparent {
    background-color: transparent;
}
*/
