.floater-section {
    float: left; 
    min-height: 300px;
    width: 100%;


}

.container::after {
    clear:both;
    content: "";
    display: block;

}
.container {
    width:100%;
}
/* MEDIUM SIZE SCREEN floater grid*/
@media(min-width: 540px){
    .container {
        width: 620px;
        padding:30px;
        margin: auto;
    }
    .floater-section {
        min-height: 326px;
    }
    .width-md-25 {
        width:25%;

    }
    .width-md-33 {
        width:33.3%;

    }
    .width-md-50 {
        width:50%;

    }
    .width-md-66 {
        width:66%;

    }
    .width-md-75 {
        width:75%;

    }
    .width-md-100 {
        width:100%;

    }

}

img {
    max-width:100%;
}
.content {
    padding:15px;
}
/* LARGE SIZE SCREEN floater grid*/
@media (min-width:800px) {
    .container {
        width: 1160px;
        margin: auto;
    }
    .floater-section {
        min-height: 575px;
    }
    .width-lg-25 {
        width:25%;

    }
    .width-lg-33 {
        width:33%;

    }
    .width-lg-50 {
        width:50%;

    }
    .width-lg-66 {
        width:66%;

    }
    .width-lg-75 {
        width:75%;

    }
    .width-lg-100 {
        width:100%;

    }


}