@import "colors.css";
@import url(layout.css);
@import url(navbar.css);
@import url(table.css);




/*MAIN*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(154, 154, 212);
    padding: 15px;
    height: 2px;
}
h2 {
    margin-left: 15px;
    color: rgb(193, 218, 193);

}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(243, 232, 223);

}
h6 {
    font-family: Helvetica;
    color: rgb(106, 106, 180);
    text-align: left;
    font-size: 25px;
    margin-top: 00px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;

}

img {
    width: 100%;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(119, 150, 119);
    margin-left: 15px;
    margin-top: 0px;
    padding-top:20px;
    font-size: 30px;


}
 