body {
    margin: 0px;
}
header {
    background-color: white;
} 
header input#imgToggler { 
    display: none;
} 

header label img {
     width: 55px;
     height: auto;
     padding-top: 5px;
     padding-left: 5px;
 }

nav {
    padding: 20px 10px;
    font-family: 'Montserrat', sans-serif;
    display:none;

}

input#imgToggler:checked + nav {
    display:block;
    
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
nav li {
    border-bottom: 1px solid #105B63;
    padding: 10px 0px;
    margin: 10px;

}
nav li:first-child {
    margin-top:0px;
}
nav ul a:hover {
    color:black;
}
nav ul a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    color: red;
    line-height: 40px;
}

