@import url('https://fonts.googleapis.com/css?family=Mansalva|Quicksand&display=swap');
@import url(layout.css);
@import url(colors.css);

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 42px;
    position: absolute;
    top: 280px;
    left: -15px;
    color: cornsilk;
    background-color: rgba(50, 50, 50, 0.4);
    width: 100%;
    padding: 15px;
    padding-left: 15px;
    box-shadow: 1px 1px 11px rgb(50, 50, 50, 0.7);
}






   
}