.footer {
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: antiquewhite;
 }
 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(228, 169, 68);
    margin-top:5px;
 }

 .facebook {
    height: 17px;
    width: 17px;
    
 }
 .instagram {
    height: 17px;
    width: 17px;
    margin-left:440px;
    margin-top: 4px;
 }