.flex-container-analogous{
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    height: 200px;
    margin-top:40px;
    background-color: black;
    display: flex;
    /*
    experiments with container
    align-content: space-evenly;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;*/

}

.flex-analogous{
    width: 200px;
    margin: 10px;
    min-width: 40px;

}

.flex-analogous:nth-child(1){
    background-color: red;
}
.flex-analogous:nth-child(2){
    background-color: orangered;
}
.flex-analogous:nth-child(3){
    background-color: orange;
}