.flex-container-neutral{
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    height: 200px;
    margin-top:40px;
    background-color: black;
    display: flex;
    /*
    experiments with container
    align-content: space-evenly;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;*/

}

.flex-neutral{
    width: 200px;
    margin: 10px;
    min-width: 40px;

}

.flex-neutral:nth-child(1){
    background-color: #A94C01;
}
.flex-neutral:nth-child(2){
    background-color: #667508;
}
.flex-neutral:nth-child(3){
    background-color: #EFE8D8;
}