.flex-container-tertiary{
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    height: 200px;
    margin-top:40px;
    background-color: black;
    display: flex;
    /*
    experiments with container
    align-content: space-evenly;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;*/

}

.flex-tertiary{
    width: 200px;
    margin: 10px;
    min-width: 40px;

}

.flex-tertiary:nth-child(1){
    background-color: yellowgreen;
}
.flex-tertiary:nth-child(2){
    background-color: blueviolet;
}
.flex-tertiary:nth-child(3){
    background-color:turquoise ;
}
