.storefront {
    padding-top:15px;
    padding-bottom: 20px;
}
h5 {
    margin-top:15px;
    line-height: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    color: #e29f50;
    font-size: 15px;

}
h6 {
    text-align: end;
    letter-spacing: 1px;
    width: 485px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 17px;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: -20px;
}

h7 {
    margin-left:190px;
    text-shadow: 0px 0px 0.5px #130f0f;
    color: #DB9E36;
    font-family: 'Montserrat', sans-serif;

}





@media (min-width:800px) {

.storefront {
    margin-left: 120px;
    padding-top: 10px;
    position: relative;
    margin-bottom: 10px;
    height: 550px;
    padding: 25px;
}
h7 {
    margin-left: 590px;
    text-shadow: 0px 0px 0.5px #130f0f;
    color: #DB9E36;
    font-family: 'Montserrat', sans-serif;
}
h5 {
    text-align: justify;
        margin-top: 25px;
        line-height: 22px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: .5px;
        color: #105B63;
        font-size: 15px;
        padding-right: 150px;
        padding-left: 150px;
}
h6 {
    padding-left: 400px;
    text-align: end;
    letter-spacing: 1px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 17px;
    text-align: center;
    color: #db9e36;
    padding-top: 20px;
    padding-bottom: -20px;
}
.instagram {
    height: 17px;
    width: 17px;
    margin-left: 0px;
    margin-top: 4px;
}

}
