
.footer {
    padding: 25px 15px;
    background-color: antiquewhite;
    text-align: center;
 }
 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(228, 169, 68);
    margin-top:5px;
 }

 .facebook {
    height: 17px;

    
 }
 .instagram {
    height: 17px;
 }
 @media (min-width:800px) {
 .footer h4 br {
   display:none;
}
 }