@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url(navbar.css);
@import url(layout.css);
@import url(colors.css);
@import url(footer.css);
@import url(about.css);
@import url(menu.css);


h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    position: absolute;
    top: 0px;
    left: -34px;
    color: cornsilk;
    background-color: rgba(125, 122, 122, 0.4);
    width: 80%;
    padding: 30px;
    margin-left: 48px;
    box-shadow: 1px 1px 11px rgb(109, 106, 106, 0.7);
}


p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    color: #105B63;
    text-align: justify;

}

h3 {
    text-shadow: 1px 0px 6px #1b0f06;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    top: 0px;
    font-size: 141px;
}
a  {
    color: cornsilk;
    text-decoration: none;
    
}
a:hover {
    color: #DB9E36;
}

h8 {
    
    text-shadow: 1px 0px 6px #1b0f06;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    top: 0px;
    font-size: 110px;
    margin-top: 0px;
}
@media (min-width:800px) {
    h3 {
        text-shadow: 1px 0px 6px #1b0f06;
        position: absolute;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        top: 0px;
        font-size: 241px;
        left: 40px;
    }
    h8 {
    
        text-shadow: 1px 0px 6px #1b0f06;
        position: absolute;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        top: 0px;
        font-size: 190px;
        margin-top: 40px;
    }
}
