header input#toggler {
    display: none;
    color: antiquewhite;
} 
header label img {
     width: 55px;
     height: auto;
     padding-top: 5px;
     padding-left: 5px;
 }
nav {

    display: none;
    font-family: 'Montserrat', sans-serif;
}

input#toggler:checked + nav {
    display:block;
    
}
header {
    background-color: rgb(247, 237, 224);
}
nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
nav li {
    border-bottom: 1px solid #504a44;
    padding: 10px 0px;
    margin: 10px;

}
nav li:first-child {
    margin-top:0px;
}
nav ul a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    color: rgb(49, 45, 38);
    line-height: 40px;
}

h1 {
    display: none;
}



/*
body {
    margin: 0px
}
header {
    background-color: rgb(247, 237, 224);
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li{
    border-bottom: 1px solid #212529;
    padding: 10px 0px;
    margin: 10px;

}

nav li:first-child {
    margin-top:0px;
}

nav ul a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    color: rgb(119, 150, 119);
    line-height: 40px;
}
a {
    color:rgb(119, 150, 119);

}
a:link {
    color:rgb(119, 150, 119);
}
nav ul li {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 0px;
    margin: 10px 20px;
}

nav ul {
    text-align: center;
}



/*MAIN
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(154, 154, 212);
    padding: 15px;
    height: 2px;
}
h2 {
    margin-left: 15px;
    color: rgb(193, 218, 193);

}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(243, 232, 223);

}
p {
    padding: 15px;
}

img {
    width: 100%;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(119, 150, 119);
    margin-left: 15px;
    margin-top: 0px;
    padding-top:20px;
    font-size: 30px;


}
*/

 @media (min-width: 935px){
     header::after {
         content:"";
         display: block;
         clear: both;
     }
     header label[for=toggler]{
         display: none;
     }

     nav {
         padding-top:25px;
        display: block;
        height: 100px;
        text-align: right;
    }
    nav ul li {
        padding-top: 50px;
        display: inline-block;
        border-bottom: 0px;
        margin: 10px 20px;
    }
    nav li {
        display: inline;
        padding-right: 30px;
    }
    h1 {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: rgb(240, 148, 86);
        float: left;
        padding-left: 10px;
        font-size: 25px;
        letter-spacing: 3px;
    }
    h2 {
        display: none;
    }

    h1 a {
        color: rgb(240, 148, 86);
    }

 }